extends main.pug

block content
  form(action='/shorten', method="GET" class="w-100 d-flex flex-column align-items-center" )
    div(class="col-6")
      input(class="w-100" type="url" name="url" placeholder="https://www.google.com/" required)
    div
      button(type="submit") Shorten!